ASSISTANT_MUSIC_CLASSIFIER_DIR=
BEATPORT_API_CLIENT_ID
BEATPORT_API_CLIENT_SECRET
BEATPORT_API_PASSWORD=
BEATPORT_API_USERNAME=
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_API_SEARCH_ID=
USE_BEATPORT_SEARCH=
USE_GOOGLE_SEARCH=
