{% extends '@common/layout.twig' %}

{% block title track.name %}

{% block page_header %}
    {% include '@track/common/header.twig' with { track: track } only %}
{% endblock %}

{% block content %}
    <div class="row row-deck row-cards">
        {% include '@track/common/wave.twig' with { track: track } only %}

        <div class="col-12 mt-1">
            {% include '@track/track/toolbar.twig' with { track } only %}
        </div>

        <div class="col-sm-8 col-12 mt-1">
            <div class="card">
                <a href="{{ url_for('search.advanced.index', query_params = {
                    bpm: track.bpm,
                    genre: track.genre,
                    initial_key: track.initialKey,
                    year: track.year,
                    track: track.name,
                }) }}">
                    <div class="ast-search-similar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                        </svg>
                    </div>
                </a>
                <div class="card-body">
                    {% include '@track/track/trackInfo.twig' with {
                        track: track,
                        breadcrumbs: breadcrumbs,
                    } only %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 d-none d-sm-flex mt-1">
            {% include '@track/track/musicalKeyInfo.twig' with musicalKeyInfo only %}
        </div>

        <div class="col-12">
            <div class="card" data-role="similar-tracks:container">
                <div class="card-header cursor-pointer" data-role="similar-tracks:toggle-visibility">
                    <h3 class="card-title">
                        Podobne utwory
                    </h3>
                    <div class="card-actions">
                        <input
                            placeholder="Filtruj utwory (np. {{ track.genre|lower }}, {{ track.year }})"
                            data-role="similar-tracks:filter"
                            type="text"
                            class="form-control form-control-sm"
                            value=""
                        >
                    </div>
                </div>
                <div class="card-body d-none" data-role="similar-tracks:parameters-container">
                    {% include '@track/similarTracks/form.twig' with {
                        form: form,
                        actionUrl: url_for('track.track.index', { guid: track.guid }),
                    } only %}
                </div>
                <div class="card-table table-responsive">
                    {% include '@track/similarTracks/list.twig' with {
                        similarTracksList: similarTracksList,
                        similarTracksSoftLimit: similarTracksSoftLimit,
                    } only %}
                </div>
                <div
                    class="card-footer {% if similarTracksList|length <= similarTracksSoftLimit %}d-none{% endif %}"
                    data-role="similar-tracks:footer"
                >
                    <div class="text-center">
                        <button type="button" class="btn" data-role="similar-tracks:show-more">Pokaż więcej</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/wavesurfer.min.js" type="text/javascript"></script>
    <script type="module" src="/js/track.js"></script>
{% endblock %}
