<div class="col-12 pb-2 pt-2 d-block">
    <div id="wave-progress" class="text-center">
        <svg style="width: 128px; height: 128px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
            <path fill="#eaeaea" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                <animateTransform
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    dur="1s"
                    from="0 50 50"
                    to="360 50 50"
                    repeatCount="indefinite"
                ></animateTransform>
            </path>
        </svg>
    </div>
    <div
        id="wave-container"
        data-track-url="{{ url_for('track.contents.get', { pathname: track.pathname|url_encode }) }}"
        data-track="{{ track.guid }}"
    >
        <div id="wave-time-current-time" class="badge bg-dark-lt" data-time-mode="elapsed">00:00</div>
        <div id="wave-time-track-duration" class="badge bg-dark-lt" data-track-length="{{ track.length }}">
            {{ track.length|format_duration }}
        </div>
        <div id="wave"></div>
    </div>
</div>
