:root {
    --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

.ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log-view-popover {
    min-width: 500px;
}

.log-view-message-popover {
    min-width: 60%;
}

.typeahead.dropdown-menu {
    max-height: 350px;
    min-width: 700px;
    overflow-y: auto;
}

.typeahead.dropdown-menu.dropdown-menu-right {
    left: auto!important;
    right: 0!important;
}

.typeahead.dropdown-menu li a {
    text-overflow: ellipsis;
    overflow: hidden;
}

#wave-container {
    height: 200px;
    visibility: hidden;
    position: relative;
}

@media only screen and (max-width: 768px) {
    #wave-container {
        height: 100px
    }
}

#wave {
    z-index: 10;
}

#wave-progress {
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    #wave-progress {
        height: 100px
    }
}

#wave-time-current-time, #wave-time-track-duration {
    position: absolute;
    z-index: 100;
    bottom: 35px;
    cursor: default;
    color: var(--tblr-black)!important;
}

#wave-time-current-time {
    cursor: pointer;
    left: 1px;
}

#wave-time-track-duration {
    right: 4px;
}

.ass-track-info dd {
    /* fix na puste wartości powodujące zmniejszenie wysokości */
    min-height: 1.25rem;
}

@media only screen and (max-width: 768px) {
    .ast-similar-tracks-parameters .form-label {
        width: 33%;
    }

    .ast-similar-tracks-parameters .form-control {
        width: auto;
    }
}

.ast-search-similar {
    align-items: center;
    color: var(--tblr-muted);
    display: inline-flex;
    font-size: .625rem;
    font-weight: var(--tblr-font-weight-bold);
    justify-content: center;
    line-height: 1;
    min-height: 2rem;
    min-width: 2rem;
    opacity: .5;
    padding: .25rem .75rem;
    position: absolute;
    right: .50rem;
    text-align: center;
    text-transform: uppercase;
    top: .70rem;
    transition: opacity .2s ease-in;
    z-index: 1;
}

.ast-search-similar:hover {
    opacity: 1;
}

.base-track-info div {
    line-height: 20px;
}

.base-track-info div > span + span::before {
    padding: 0 1px 0 3px;
    color: #bbb;
    content: "/\00a0";
}

table .ast-track-name {
    min-width: 300px;
}

.ast-table-no-select td {
    user-select: none;
}
