{% extends '@common/layout.twig' %}

{% block title %}Logi{% endblock %}

{% block contentBlock %}
    <script src="/js/log.js" type="module"></script>

    <div>
        <legend>Przeglądarka logów</legend>

        {% include '@common/log/view.twig' with {
            log: log,
            autoRefresh: autoRefresh,
        } only %}

        {% include '@common/paginator.twig' with {
            paginator: paginator,
            routeName: 'common.log.index',
        } only %}
    </div>
{% endblock %}
