{% extends '@common/layout.twig' %}

{% block title %}Logi{% endblock %}

{% block contentBlock %}
    <script src="/js/log.js" type="module"></script>

    <div>
        <legend>Przeglądarka logów</legend>

        {% include '@common/log/view.twig' with {
            log: log,
            autoRefresh: autoRefresh,
        } only %}

        {% if pager.haveToPaginate() %}
            <div class="text-center">
                {{ pagerfanta(pager, {
                    'proximity': 2,
                    'prev_message': 'Poprzednia',
                    'next_message': 'Następna',
                    'route': {
                        'name': 'common.log.index',
                    }
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
