{% extends '@common/layout.twig' %}

{% set currentDirectoryWithoutSeparator = currentDirectory.pathname|trim(constant('DIRECTORY_SEPARATOR')) %}

{% block title %}Przeglądanie kolekcji {% if currentDirectoryWithoutSeparator %}– {{ currentDirectoryWithoutSeparator }}{% endif %}{% endblock %}

{% block content %}
    <div class="row row-deck row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {% include '@common/breadcrumbs.twig' with { breadcrumbs: breadcrumbs } only %}
                    </h3>
                </div>
                {% if directories %}
                    <div class="card-table table-responsive">
                        {% include '@common/directories.twig' with { directories: directories } only %}
                    </div>
                {% endif %}

                {% if tracks %}
                    <div class="card-table table-responsive">
                        {% include '@common/tracks.twig' with { tracks: tracks } only %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
