<div class="empty opacity-75">
    <div class="empty-img">
        <svg
            style="width: 128px; height: 128px"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-music-off"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="6" cy="17" r="3"></circle>
            <path d="M14.42 14.45a3 3 0 1 0 4.138 4.119"></path>
            <path d="M9 17v-8m0 -4v-1h10v11"></path>
            <path d="M12 8h7"></path>
            <path d="M3 3l18 18"></path>
        </svg>
    </div>
    <p class="empty-title text-muted">{{ message }}</p>
</div>
