<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} – Assistant</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="/vendor/inter/inter.css">
        <link rel="stylesheet" href="/vendor/tabler.min.css">
        <link rel="stylesheet" href="/vendor/tabler-vendors.min.css">
        <link rel="stylesheet" href="/css/assistant.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="/vendor/jquery-3.6.3.min.js"></script>
        <script src="/vendor/jquery.tablesorter.min.js"></script>
        <script src="/vendor/tabler.min.js"></script>
        <script src="/vendor/bootstrap3-typeahead.min.js" type="text/javascript"></script>
        <script src="/js/autocompleter.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="page">
            {% include '@common/layout/header.twig' with { menu: menu, form: form|default } only %}

            <div class="page-wrapper">
                {% if block('page_header') is not empty %}
                    <div class="page-header">
                        <div class="container-xxl">
                            <div class="row g-2 align-items-center">
                                <div class="col">
                                    <h2 class="page-title">
                                        {% block page_header %}{% endblock %}
                                    </h2>
                                </div>
                                {% if block('page_actions') is not empty %}
                                    <div class="col-auto ms-auto">
                                        <div class="btn-list">
                                            {% block page_actions %}{% endblock %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="page-body">
                    <div class="container-xl">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        ((() => {
            'use strict';

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            [ ...tooltipTriggerList ].map(trigger => new bootstrap.Tooltip(trigger));

            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            [ ...popoverTriggerList ].map(popover => new bootstrap.Popover(popover));

            const tableSortableList = document.querySelectorAll('[data-sortable="true"]');
            [ ...tableSortableList ].map(table => {
                const $table = $(table);

                $table.tablesorter();
                $table.find('th').addClass('cursor-pointer');
            });
        })());
    </script>
</html>
