{% if paginator.haveToPaginate() %}
    <div class="text-center">
        {{ pagerfanta(paginator, {
            'proximity': 2,
            'prev_message': 'Poprzednia',
            'next_message': 'Następna',
            'route': {
                'name': routeName,
                'params': routeParams|default([]),
                'query': routeQuery|default([]),
            }
        }) }}
    </div>
{% endif %}
