<form method="GET" action="{{ url_for('search.simple.index') }}" class="form-horizontal search-form-simple" role="form">
    <legend>Szybkie wyszukiwanie</legend>

    <div class="input-group input-group-lg">
        <input
            data-role="autocompleter"
            data-url="{{ url_for('track.track.autocomplete') }}"
            data-follow-on-select="true"
            type="text"
            name="query"
            value="{{ form.query|default }}"
            class="form-control"
            placeholder="Wprowadź nazwę wykonawcy lub tytuł utworu"
        >
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
